.app {
    background: #bebebe;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: calc(cabecalho - conteudo) auto  auto; 
}

.cabecalho {
    align-items: center;
    display: flex;
    background: #272727;
    grid-area: cabecalho;
    padding: 3rem;
}
 
.conteudo {
    background: #bebebe;
    grid-area: conteudo;
    padding: 2rem 2rem;
}

.rodape {
    background: #272727;
    color: #fdfdfd;
    font-size: 1rem;
    grid-area: rodape;
    padding: 3rem;
    text-align: center;
}
.github {
    width: 19px;

}
.devAline {
    padding-top: 1rem;
}
